 <section class="bottom">
      <nav class="navbar bg-dark" data-bs-theme="dark">
        <ul>
          <li>
            <a class="bottoms">Contact Us</a>
          </li>
          <li>
            <a class="bottoms"
              ><img
                src="../static/img/instagramlogo.png"
                alt="instagram"
                width="35px"
                height="32px"
            /></a>
            <a class="bottoms">adwitiya_gupta</a>
            <a class="bottoms">gadwanitushar</a>
            <a class="bottoms">i_am_harshk</a>
            <a class="bottoms">yashgupta_012</a>
          </li>
        </ul>
      </nav>
    </section>