<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Buddy</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/doubt.css">
</head>

<body>
    <!--------------------------------------------- START NAVIGATION BAR  --------------------------------------------------->
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Study Buddy</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/group">Group</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/solve">Solve</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/leaderboard">LeaderBoard</a>
              </li>
              
  
              <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" href="/register">Sign Up</a>
                </li>
             
            </ul>
            
          </div>
        </div>
      </nav>
      <!--------------------------------------------- START NAVIGATION BAR  --------------------------------------------------->
    <section class="doubt_area">
        <h1 class="doubt_head">
            POST YOUR DOUBTS HERE
        </h1>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="form_enteries">
                  <form action="/doubt" method="POST" enctype="multipart/form-data"">  
                  <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Topic :</label>
                        <input type="text" name="topic" class="form-control login_input" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput2" class="form-label">Tags :</label>
                        <input type="text" name="tags" class="form-control login_input" id="exampleFormControlInput2">
                    </div>
               
                    <div class="mb-3  ">
                        <label for="exampleFormControlTextarea1" class="form-label">Write/Upload your question here :</label>
                        <textarea class="form-control login_textarea" name="doubt" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <input type="file" id="doubt" name="image"
                        accept="image/png, image/jpeg, image/jpg">
                    </div>
              
                 
                    <button type="submit" class="btn btn-dark doubt_button">POST</button>
                  </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="doubt_image">
                    <img src="../static/img/Questions.gif" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="bottom">
        <nav class="navbar bg-dark" data-bs-theme="dark">
            <ul>
                <li>
                    <a class="bottoms">Contact Us</a>
                </li>
                <li>
                    <a class="bottoms"><img src="../static/img/instagramlogo.png" alt="instagram" width="35px" height="32px"></a>
                    <a class="bottoms">adwitiya_gupta</a>
                    <a class="bottoms">gadwanitushar</a>
                    <a class="bottoms">i_am_harshk</a>
                    <a class="bottoms">yashgupta_012</a>
                </li>
            </ul>
        </nav>
      </section>




      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>

</html>