<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Study Buddy</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../static/css/group.css" >
  </head>
  <body>
    <%- include ('partials/navbar')%>
    


    <div class="upper_group">
        <div class="create_group">
            <h1>Create New Group</h1>
            <button>Create</button>
        </div>
        <div class="group_image_1">
            <img src="../uploads/groupstudy.gif" alt="">
        </div>
    </div>
<div  class="heading_class">
    <h1>SEARCH and JOIN EXISTING GROUPS</h1>
</div>
<div class="heading_image">
    <img src="../static/img/group_image.svg" alt="">
</div>

<div class="groups_old">
  <div class="card text-bg-dark" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">The BOYZ</h5>
      <p class="card-text">
        lets make something specia 
      </p>
      <p>No. of Members : 8</p>
      <div class="button_submit">
        <a href="#" class="btn btn-secondary">JOIN</a>
       
      </div>
    </div>
  </div>

  <div class="card text-bg-dark" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Saste Coders</h5>
      <p class="card-text">
        lets learn
      </p>
      <p>No. of Members : 3</p>
      <div class="button_submit">
          <a href="#" class="btn btn-secondary">JOIN</a>
         
        </div>
    </div>
  </div>

  <div class="card text-bg-dark" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Mitra Mandali</h5>
      <p class="card-text">
        Let us Learn together
      </p>
      <p>No. of Members : 5</p>
      <div class="button_submit">
        <a href="#" class="btn btn-secondary">JOIN</a>
       
      </div>
    </div>
  </div>
</div>


<%- include ('./partials/footer')%>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>
