.profile h1{
    
    padding-top: 2px;
}


.dash a{
    width: 20px;
}

.signup_button{width: 200px;
    height: 50px;
    background: #455A64;
    border-radius: 82px;
    color: white;
    font-size: 11px;
    border: transparent;
    margin-left: 128px;
    margin-top: 30px;

}
.navbar a{
   
  color: white;
  transition: 0.3s ease-in-out;



}

.navbar a:hover{
  color: #707070;

}
.off{
    margin-right: 10px;
}
.sidebutton{
    padding-top: 10px;
    padding-right: 45rem;
    
    color: #455A64;
}
.flexx{
    display: flex;
    justify-content: space-around;
    
}
.user_image{
    padding-left: 15rem;
    padding-right: 30px;
}


button a{
    text-decoration:none;
    color:white;
    font-size: 15px;
}


.bottom{
    padding-top: 40px;
 }
 .bottom .bottoms{
    
    padding-left: 20px;
    height: 50px;
 }
 .linkremove{
    text-decoration: none;
 }
    
.dashboard_username h5{
    font-size: 20px;
    margin-left: 40px;
}
.Card_dashboard{
margin-left: 250px;
margin-top: 20px;
padding-bottom: 60px;
}

.dashboard_image{
    position: absolute;
    top: 170px;
    right: 160px;
}


@media screen and (max-width:500px){

    /* .dashboard_image img{
        width:70%;
       
    }
    .user_responsive{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .user_image{
        width: 60%;
        padding-left: 3px ;
        padding-right: 3px;
    }
    .user_image img{
        width: 160%;
    }
    
    .Card_dashboard{
        width: 150%;
    } */


   

    .user_image{
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 60px;
    }
    .user_image img{
        width: 40%;
    }

    .dashboard_image img{
        display: none;
    };

    .profile h1{
        text-align: center;
    }
    .Card_dashboard {
        margin-left: 40px;
        padding-right: 155px;
    }
    

    .sidebutton{
    padding-top: 10px;
    padding-left:5px ;
    padding-right: 50px;
    
    color: #455A64;
}



    
}